

::-webkit-scrollbar  {
        display: none;
        }
input[type="text"]:focus, select:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="file"]:focus, textarea:focus {             
outline: none;
border:.1rem solid #263685;

}

.shado{
        box-shadow: 12rem 0rem rgba(0, 0, 0, 0.7);
}
td, th{
        border: 1px solid rgb(170, 169, 169);
        padding: 5px 25px;
}

th{
background-color: whitesmoke;
}
td{
        font-size: .7rem;
}
